body{
    background-image: url(../assets/img/mv\ abstrato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7a0092;
    
    
}


header {
    display: flex;
    justify-content: space-between;
    background-color:  black;
    border-bottom: 10px solid #7a0092;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    display: flex;
    justify-content: space-between;
    background-color:  blue;
    border-bottom: 10px solid #7a0092;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    text-align: center;
}

a {
    display: inline-flex;
    align-items: center;
    color:#7a0092;
    font-size: #fff;
    font-family: fira code;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a:before {
    content: "";
    background-color: #7a0092;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}

img {
    width: 60px;
    height: 60px;
}

#button {
    display: inline-block;
    background-color:#ffe600;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px #ff0000;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button:hover {
    transform: scale(1.08);

}
