.button {
    font-family: fira code;
    display: inline-block;
    background-color:#d7e2ff;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px #ff42e0;
    margin-top: 15px;
    margin-right: 0;
    transition: transform 100ms linear;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.08);

}