.button {
    display: inline-block;
    background-color:#ffae00;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 5px #ff0000;
    margin-right: 0;
    transition: transform 100ms linear;
}

.button:hover {
    transform: scale(1.08);

}