.card-project {
    
    background-color: #000000;
    
}

.card-projectss {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 280px;
    height: 280px;
    margin: 40px auto;
    box-shadow: 5px 5px 5px #ffffff;
    cursor: pointer;
}
