.main-section {
    background-color: #5F71F5;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #57FFCD;
    
    
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.main-section.-bdFirst {
    border-color: #2141aa;
    display: ruby-text;
    
}


.main-section.-bgSecond {
    background-color: #fc5959; 
    display: ruby-text;
    
}


.main-section.-bgBlack {
    justify-content: center;
    background-color: #020029;
    display: ruby-text;
    margin-left: 500px;
    
}


element .-bdBlack {
    margin-left: 100px;
}