.main-section {
    background-color: #5F71F5;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #57FFCD;
    
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #ffffff;
}

.main-section.-bdFirst {
    border-color: #2141aa;
}

.main-section.-bgSecond {
    background-color: #fc5959; 
}

.main-section.-bgBlack {
    background-color: #020029;
}

